.bar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links-invoices-nav {
  padding: 1%;
}
.links-bar-container {
  padding: 1%;
  text-decoration: none;
  color: white;
}
