.invoices-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.invoices {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  padding: 1%;
  width: 40%;
}

.invoices-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-search-invoices {
  margin-top: 1% !important;
}
